.side_bar
  .side_bar__name
    .side_bar__name_box
      .side_bar__name_list
        %p saya
      .side_bar__icon_list
        .side_bar_name_icon
          = link_to "#" do
            = icon('fa', 'edit')
        .side_bar_name_iconn
          = link_to "#" do
            = icon('fa', 'cog')

  .side_bar__groups_list
    .side_bar__groups_items
      .side_bar__groups_name
        %p techcamp
      .side_bar__groups_text
        %p まだメッセージはありません
