.main_chat {
  p {
    margin: 0;
  }
  height: 100vh;
  width: calc(100vw - 300px);
  background-color:#ffffff;
}

.main_chat__group_info {
  height: 100px;
}

.main_chat__group_title {
  width: calc(100vw - 300px);
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;

  .main_chat__group_list  {
    margin-top: 35px;
    margin-left: 40px;
    p{
      color: #333333;
      font-size: 20px;
    }
    .main_chat__group_lists-names {
      display: flex;
    }
      .main_chat__group_name p {
        color : #999999;
        font-size: 12px;
        margin-top: 15px;
      }
      .main_chat__group_list-name p {
        color : #999999;
        font-size: 12px;
        margin-top: 15px;
      }
  }

  .main_chat__group_box {
    margin: 28px 40px 0px 0px ;
    border:solid #38aef0 1px;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    color: #38aef0;
    font-size: 16px;
    box-sizing: border-box;
      a {
      text-decoration: none;
      color: #38aef0;
    }
  }
}



.main_chat__message_list {
  height: calc(100vh - 190px);
  width: calc(100vw - 300px);
  background-color: #fafafa;
  padding-left: 40px;
  padding-top: 35px;
  .main_chat__message_name {
    margin-bottom: 12px;
    display: flex;
    color: #333333;
    font-size: 16px;
   .main_chat__message_date {
    color: #999999;
    font-size: 12px;
   }
  }
  .main_chat__message_title {
    color: #434a54;
    font-size: 14px;
    margin-bottom: 46px;
  }
}

.main_chat__message_form {
 
  .main_chat__message_form_box {
    position: relative;
    height: 90px;
    width: calc(100vw - 300px);
    background-color: #DDDDDD;
    padding: 20px 50px 20px 40px;
    }
  }

  .main_chat__message__type__text {
    height: 50px;
    width: calc(100% - 150px);
  }

  .main_chat__message_form_box_image {
      position: absolute;
      top: 38px;
      right: 230px;
    }

    .submit-btn {
      background-color: #38aef0;
      border: none;
      color: #ffffff;
      float: right;
      font-size: 16px;
      height: 50px;
      margin-left: 15px;
      padding: 0 30px;
    }
