.side_bar {
  height: 100vh;
  width: 300px;
  background-color: #2f3e51;
  
  .name {  
    display: flex;
    align-items: center;
    height:100px;
    width:300px;
    background-color: #253141;

    &__box {
      line-height: center;
      height: 20px;
      width: 260px;
      background-color:#253141;
      margin: 0px 20px;
      display: flex;
      justify-content: space-between;
       a {
        color: white;
       }

      &__list {
        margin: 0;
        font-size: 16px;
        color: white;
      }
        
      &__icon_list {
        display: flex;

        &__iconn {
          margin-left: 5px;
        }
      }
    }
  }
  .groups_list {
    height: calc(100vh - 100px);
    width: 100%;
    padding: 0 20px;
    &__items {
      color: #ffffff;
      font-weight: bold;
      &__name  {
        padding-top: 20px;
        padding-bottom: 5px;
        font-size: 15px;
      } 
      &__text {
        font-size: 11px;
        padding-bottom: 40px;
      }
    }
  }
}

  


