.side_bar {
  height: 100vh;
  width: 300px;
  background-color: #2f3e51;
  
  &__name {  
    display: flex;
    align-items: center;
    height:100px;
    width:300px;
    background-color: #253141;
    &__name_box {
      line-height: center;
      height: 20px;
      width: 260px;
      background-color:#253141;
      margin: 0px 20px;
      display: flex;
      justify-content: space-between;
       a {
            color: white;
       }
      &__name_list p {
        margin: 0;
        font-size: 16px;
        color: white;
      }
        
      &__icon_list {
        display: flex;
        .side_bar_name_iconn {
          margin-left: 5px;
        }
      }
    }
  }
  &__groups_list {
    height: calc(100vh - 100px);
    width: 100%;
    padding: 0 20px;
    &__groups_items {
      color: #ffffff;
      font-weight: bold;
      &__groups_name  {
        padding-top: 20px;
        padding-bottom: 5px;
        font-size: 15px;
      } 
      &__groups_text {
        font-size: 11px;
        padding-bottom: 40px;
      }
    }
  }
}

  


